- var menuItems = []
mixin curriculumItem(id, title, description, image_src)
    - menuItems.push({id: id, title: title})
    li(id=id).collection-item.avatar.section.scroll-spy
        img(src=image_src).circle
        h5= title
        p= description
div.row
    div.col.m9
        div.container.cirriculum
            h1 Our Curriculum
            ul.collection
                +curriculumItem('language-arts', 'Language Arts', 'Language as a tool to promote the child’s descriptive skills, understanding of language, speaking vocabulary, to explain feelings and to help social interaction.  Stories, group times, dramatic play, puppetry will be integral parts of this program.  All curriculum activities shall be designed to foster and improve language skills and self-expression.', 'images/curriculum/language_arts.png')
                +curriculumItem('creative-art', 'Creative Art', 'The art program shall include a variety of interesting activities to be carried out by the child in his own way.  Children will be allowed to develop their own individual creativeness.  New and novel materials, a comfortable, non-restrictive environment and an enthusiastic teacher shall all contribute to the child’s artistic independence and success.  These will all be attempted in an effort to strengthen self-concept and to emphasize the child’s ability to think and act on his own individual thoughts and ideas.', 'images/curriculum/creative_arts.jpg')
                +curriculumItem('math', 'Mathematics', 'The recognition of numbers, quantity comparisons, shapes, one-to-one correspondence and all related mathematics activities shall be achieved through the use of concrete materials, experimentation and the child’s own exploration.  Teachers shall present activities that will be in conjunction with children’s individual developmental levels.', 'images/curriculum/math.jpg')
                +curriculumItem('science', 'Science', 'Science shall be offered in an effort to accentuate to the children the relationships that exist in the world around them.  Physical experimentation will be a significant portion of this program.  Other activities will include:  manipulation of new and novel materials, introduction of simple science equipment, weather charts, nature walks, field trips, etc.  Children will experiment with and experience the relationships that exist in the world around them.', 'images/curriculum/science.jpg')
                +curriculumItem('music', 'Music', 'Music shall be offered in an effort to encourage the practice of socialization skills.  Rhythm activities, the manipulation and introduction to musical instruments, singing, dancing, circle participation, will all be a part of this program.  Music activities will be designed to promote interaction and relaxation:  a comfortable getting together and getting to know one another experience.', 'images/curriculum/music.jpg')
                +curriculumItem('sensory', 'Sensory Education', 'Education of the five senses will be an integral part of the total Educational Program.  Utilizing the five senses will help children to internalize knowledge as they explore and experience their surroundings.', 'images/curriculum/sensory.jpg')
                +curriculumItem('computers', 'Computer Learning', 'Computers are offered in an attempt to teach children the basic fundamentals of the new technology that is rapidly growing around us.  Our center has purchased software programs that are age appropriate for each classroom.  The children will learn fundamental keyboard tasks, as well as working with a ‘mouse.’  Such concepts as colors and shapes and letters and numbers are an integral part of all of our software programs.  Creativity skills can be exercised with other software programs that allow children to create their own stories and pictures.  These can be printed out and sent home as a special project.', 'images/curriculum/computer_play.png')
                +curriculumItem('motor-skills', 'Large and Small Motor Skills', 'A portion of each day will be set aside to give children the opportunity to exercise their bodies.  According to seasonal temperatures, children will have free time outside in the playground, or inside on various other large motor equipment.  This is a very important opportunity for children to release pent - up energies and emotions.', 'images/curriculum/motor.gif')
    div.col.m2.right-nav
        div.right-nav-wrapper
            ul.section.table-of-contents
                each item in menuItems
                    li
                        a(href="#" + item.id)= item.title
